body  {
    max-width: 980px;
    margin: auto;
}
header a:hover {
    background-color: gainsboro;
}
header nav ul li a {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 200;
    text-decoration: none;
}

h2 {
    
    color: black;
}
.slide-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}
.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}
.color-icon{
    color:red;
}

.window{
    display:block;
    width:100%;
}
.shopping_list td,
.shopping_list th {
	padding: 10px;
	border: 1px solid #AAAAAA;
}
.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
}



.btn {
    padding: 0.75rem 0.7rem;
}
#carouselOffers {
   width: 16px;
  height: 16px;
}

#carouselOffers img {
    max-height: 450px;
}
.position{
    position:fixed;
    z-index:1;
}
.img-txt{
    float:left;
    margin-right: 10px;
    margin-bottom:10px;
}
li {
    list-style-type: none;
}
.cart-col{
    background:transparent;
    color:red;
    font-size: 20px;
}