body  {
    max-width: 980px;
    margin: auto;
}
header a:hover {
    background-color: gainsboro;
}
header nav ul li a {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: none;
}
main div{
    background-color: gainsboro;
}
h2 {
    
    color: black;
}
.slide-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}
.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}
.box{
    
    border-top-color:gainsboro;
    border-left-color: gainsboro;
    border-bottom-color: grey;
    border-right-color: grey;
}
textarea{
    border-bottom-color: gainsboro;
    border-right-color: gainsboro;
   border-width:2px; 
 
}
fieldset input{
     border-bottom-color: gainsboro;
    border-right-color: gainsboro;
   border-width:2px; 
 
}
.window{
    display:block;
}

footer{
    background-color: gainsboro;
}

#cart_content {
  margin-top: 10px;
  padding: 5px;
}
.item_box {
  margin-bottom: 10px;
  padding: 5px;
}
.shopping_list {
	width: 100%;
  margin-top: 10px;
	border-collapse: collapse;
}
.shopping_list td,
.shopping_list th {
	padding: 10px;
	border: 1px solid #AAAAAA;
}
